KAFKA_BOOTSTRAP=localhost:9092

SCHEMA_REGISTRY_URL=http://localhost:8081

KAFKA_TOPIC=logistics_data

KAFKA_DLQ_TOPIC=logistics_dlq

MONGO_URI=mongodb://localhost:27017

MONGO_DB=logistics_db

MONGO_COLLECTION=shipments
