KAFKA_BOOTSTRAP=localhost:9092

MONGO_URI=mongodb://localhost:27017
MONGO_DB=streaming_db
MONGO_COLLECTION=orders_fact

CHECKPOINT_DIR=./checkpoints
LOG_LEVEL=INFO

USER_TOPIC=user_topic
TRANSACTION_TOPIC=transactions_topic
ORDER_TOPIC=orders_topic
PAYMENT_TOPIC=payments_topic

SPARK_KAFKA_PACKAGE=org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1
